.header {
	background-color: #B9BCD6;
	max-width: 100%;
	height: 23%;
	max-height: 23%;
}

.menu-top {
	list-style-type: none;
	padding: 0 0 20px 0;
	margin: 44 auto;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}

.menu-top_link {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 16px;
	text-align: center;
	padding: 20px 0;
	font-weight: 600;
}	

.menu-top_item {
	background-color: rgba(68, 101, 87, 0.5);
	width: 213.75px;
	height: 64px;
	border-radius: 5px;
	margin: 10px;
	display: inline-block;
}

.menu-top_item:hover {
	background-color:rgba(38, 138, 255, 0.5);
}

.menu-top_item:active {
	background-color:rgba(38, 138, 255, 1);
}

.surveys {
	background-color: rgba(38, 138, 255, 0.5);;
}

.menu-top_user {
	position: absolute;
	right: 10px;
	font-size: 10pt;
	color: #fff;
}

i {
	color: white;
	padding: 0 6px 0 0;
}

.page-name {
	list-style-type: none;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-around;
}

.page-name_link {
	color: white;
}

body {
	background-color: #DEE1FE;
}

.form {
	margin-top: 150px;
	margin-bottom: 150px; 
	padding: 0 30% 0 30%;
}

.m {
	display: flex;
	flex-direction: row;
}

.survey_form {
	padding: 20px 30px 10px 0;
}

.question_mark {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type='radio'] {
  position: relative;
  height: 18px;
  width: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-color: #C4C4C4;
  border-radius: 50%;
}

input[type='radio']:checked {
  position: relative;
  height: 18px;
  width: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-color: rgba(0, 255, 255, 0.7);
  border-radius: 50%;
}

.question_message {
	padding: 30px 0 50px 0;
}

.question_message_textarea {
	width: 500px;
	height: 130px;
	outline: none;
	-webkit-appearance: none;
	background-color: rgba(38, 138, 255, 0.5);
	border:none;
	resize: vertical;
	padding: 20px;
}

.question_message_textarea::placeholder {
	color: black; 
}

.question_nums {
	padding: 5px 0 50px 0;
}

.survey_form_buttons {
	display: flex;
	flex-direction: row;
}

.question_btn_1 {
	padding: 24px 20px 0 80px;
}

.question_btn_2 {
	padding: 24px 0 0 0;
}

.question_button_submit {
	font-size: 13pt;
	border: none;
	background-color: #003471;
	padding: 0px 0 0 0;
	width: 170px;
	height: 60px;
	text-align: center;
	color: white;
}

.question_button_reset {
	font-size: 13pt;
	border: none;
	background-color: rgba(38, 138, 255, 0.5);
	padding: 0px 0 0 0;
	width: 170px;
	height: 60px;
	text-align: center;
	color: white;
}

.question_button_submit:hover {
	border: none;
	outline:none;
	background-color: #004699;
}

.question_button_reset:hover {
	border: none;
	outline:none;
	background-color: rgba(0, 117.51, 255, 0.5);
}

.question_button_submit:active {
	border: none;
	outline:none;
	background-color: #005ecc;
}

.question_button_reset:active {
	border: none;
	outline:none;
	background-color: rgba(0, 94.009, 204, 0.5);
}

.question_button_submit:focus {
	border: none;
	outline:none;
	background-color: #005ecc;
}

.question_button_reset:focus {
	border: none;
	outline:none;
	background-color: rgba(0, 94.009, 204, 0.5);
}

.footer {
	padding: 30px 150px 0 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: end;
	width: 100%;
	background: #212121;

}

.contacts {
	display: flex;
	flex-direction: column;
	max-width: 22,5%;
}

.network {
	display: flex;
	flex-direction: column;
	max-width: 22,5%;
}

.tec_support {
	display: flex;
	flex-direction: column;
	max-width: 22,5%;
}

.developers {
	display: flex;
	flex-direction: column;
	max-width: 22,5%;
}

i {
	color: #e6e6e6;
	padding: 0 6px 0 0;
}

.contacts_hr {
	color: #484848;
	margin-bottom: 20px;
	height: 1px;
}

.title {
	margin:0 0 25px 0; 
	padding:0; 
	font-size:1.2rem; 
	text-transform: uppercase;
	color: white;
	height:  22.22px;
}

.contacts_link {
	padding: 0 0 20px 0;
	color: #999999;
}

.network_link {
	padding: 0 0 20px 0;
	color: #999999;
}

.tec_support_group {
	color: #596da6;
	font-size: 10pt;
}

.developers_link_mcl {
	color: #596da6;
}

.network_link_source {
	color: #596da6;
}

.nospace {
	color: #999999;;
}
