.header {
	background-color: #B9BCD6;
	max-width: 100%;
	height: 23%;
	max-height: 23%;
}

.menu-top {
	list-style-type: none;
	padding: 0 0 20px 0;
	margin: 44 auto;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}

.menu-top_link {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 16px;
	text-align: center;
	padding: 20px 0;
	font-weight: 600;
}	

.menu-top_item {
	background-color: rgba(38, 138, 255, 0.5);
	width: 213.75px;
	height: 64px;
	border-radius: 5px;
	margin: 10px;
	display: inline-block;
}

.menu-top_item:hover {
	background-color:rgba(38, 138, 255, 0.5);
}

.menu-top_item:active {
	background-color:rgba(38, 138, 255, 1);
}

.surveys {
	background-color: rgba(68, 101, 87, 0.5);
}


.menu-top_user {
	position: absolute;
	right: 10px;
	font-size: 10pt;
	color: #fff;
}

i {
	color: white;
	padding: 0 6px 0 0;
}

.page-name {
	list-style-type: none;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-around;
}

.page-name_link {
	color: white;
}

.main {
	display: flex;
	flex-direction: row;
}

.sidebar_item {
	margin: 44px 40px;
	padding: 20px 0px;
	max-width: 12%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: space-around;
	list-style-type: none;
	position: relative;
}

.sidebar_subject {
	display: inline-block;
	width: 100%;
	margin-right: 75px;
	background-color: rgba(38, 138, 255, 0.5);
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 120px;
	padding-left: 20px;
	border-radius: 5px;
	margin: 10px;
	position: relative;
}

.sidebar_subject_link {
	text-decoration: none;
	display: block;
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-weight: 400;
}	

.sidebar_item_teacher {
	display: none;
	position: absolute;
}

.sidebar_subject:hover {
	display: inline-block;
	width: 100%;
	margin-right: 75px;
	background-color: rgba(38, 138, 255, 0.7);
	text-align: center;
}

.sidebar_one ul li:hover .sidebar_item_teacher {
	display: block;
}

.sidebar_subject_link:hover {
	font-weight: 1000;
}

.stats {
	position: absolute;
	padding-left: 250px;
	padding-top: 75px;
}

.stats_item {
	display: flex;
	flex-direction: row;
}

.stats_item_mark_value {
	padding: 0 0 0 10px;
	font-weight: bold;
}

.stats_item_components_value {
	padding: 0 0 0 10px;
	font-weight: bold;
}

.stats_item_mark_value_t {
	padding: 0 0 35px 10px;
	font-weight: bold;
}

.footer {
	padding: 30px 150px 0 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: end;
	width: 100%;
	background: #212121;

}

.contacts {
	display: flex;
	flex-direction: column;
	max-width: 22,5%;
}

.network {
	display: flex;
	flex-direction: column;
	max-width: 22,5%;
}

.tec_support {
	display: flex;
	flex-direction: column;
	max-width: 22,5%;
}

.developers {
	display: flex;
	flex-direction: column;
	max-width: 22,5%;
}

i {
	color: #e6e6e6;
	padding: 0 6px 0 0;
}

.contacts_hr {
	color: #484848;
	margin-bottom: 20px;
	height: 1px;
}

.title {
	margin:0 0 25px 0; 
	padding:0; 
	font-size:1.2rem; 
	text-transform: uppercase;
	color: white;
	height:  22.22px;
}

.contacts_link {
	padding: 0 0 20px 0;
	color: #999999;
}

.network_link {
	padding: 0 0 20px 0;
	color: #999999;
}

.tec_support_group {
	color: #596da6;
	font-size: 10pt;
}

.developers_link_mcl {
	color: #596da6;
}

.network_link_source {
	color: #596da6;
}

.nospace {
	color: #999999;;
}