.header {
	background-color: #B9BCD6;
	max-width: 100%;
	height: 23%;
	max-height: 23%;
}

.menu-top {
	list-style-type: none;
	padding: 0 0 20px 0;
	margin: 44 auto;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}

.menu-top_link {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 16px;
	text-align: center;
	padding: 20px 0;
	font-weight: 600;
}	

.menu-top_item {
	background-color: rgba(68, 101, 87, 0.5);
	width: 213.75px;
	height: 64px;
	border-radius: 5px;
	margin: 10px;
	display: inline-block;
}

.menu-top_item:hover {
	background-color:rgba(38, 138, 255, 0.5);
}

.menu-top_item:active {
	background-color:rgba(38, 138, 255, 1);
}

.surveys {
	background-color: rgba(38, 138, 255, 0.5);;
}

.menu-top_user {
	position: absolute;
	right: 10px;
	font-size: 10pt;
	color: #fff;
	padding-right: 30px;
}

i {
	color: white;
	padding: 0 6px 0 0;
}

.page-name {
	list-style-type: none;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-around;
}

.page-name_link {
	color: white;
}

body {
	background-color: #DEE1FE;
}

.app {
	list-style-type: none;
	display: grid;
	grid-column-gap: 15px;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 110px;
}

.app_item {
	background-color: rgba(0, 99, 154, 0.48);
	width: 250px;
	height: 85px;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-left: 0;
	
	display: inline-block;
}

.app_link {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 16px;
	text-align: center;
	padding: 0;
}

.app_label {
	width: 20%;
	padding: 10px 10px;
}

.fa-chevron-down {
	color: black;
}

p#open_fnct {
	cursor: pointer;
	font-weight: 600;
	padding: 0 0 0 120px;
}

p#close_fnct {
	cursor: pointer;
	font-weight: 600;
	padding: 0 0 0 120px;
}


.footer {
	padding: 30px 150px 0 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: end;
	width: 100%;
	background: #212121;

}

.contacts {
	display: flex;
	flex-direction: column;
	max-width: 22,5%;
}

.network {
	display: flex;
	flex-direction: column;
	max-width: 22,5%;
}

.tec_support {
	display: flex;
	flex-direction: column;
	max-width: 22,5%;
}

.developers {
	display: flex;
	flex-direction: column;
	max-width: 22,5%;
}

i {
	color: #e6e6e6;
	padding: 0 6px 0 0;
}

.title {
	margin:0 0 25px 0; 
	padding:0; 
	font-size:1.2rem; 
	text-transform: uppercase;
	color: white;
	font-size: 18px;
	font-weight: bold;
}

.contacts_hr {
	color: #484848;
	margin-bottom: 20px;
	height: 1px;
}

.contacts_link {
	padding: 0 0 20px 0;
	color: #999999;
}

.network_link {
	padding: 0 0 20px 0;
	color: #999999;
}

.tec_support_group {
	color: #596da6;
	font-size: 10pt;
}

.developers_link_mcl {
	color: #596da6;
}

.network_link_source {
	color: #596da6;
}

.nospace {
	color: #999999;;
}