<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="media/styles/404.css">
<link rel="stylesheet" href="media/styles/common.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="media/styles/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
	<div class="main">
		<div class="main_shadow"></div>
		<div class="main_content">
			<h1 class="main_caption">sorry, the page is not found</h1>
			<h1 class="main_caption big">404</h1>
			<h1 class="main_caption reverse">sorry, the page is not found</h1>
		</div>
	</div>
</body>
</html>