<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="media/styles/footer.css">
<link rel="stylesheet" href="media/styles/style_for_all_pages.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>
<div class="str"></div>
<footer class="footer">
  <div class="contacts">
    <h6 class="title">Контакты</h6>
    <ul class="nospace_linklist_contact">
      <li class="footer_link"><i class="fa fa-map-marker"></i>
        <address>
          <!-- вот тут проблема, необходимо вставить значки непосредственно геолокации, телефона и письма -->
          Мира 32, Екатеринбург, 
          <p>620002</p>
        </address>
      </li>
      <li class="footer_link"><i class="fa fa-phone"></i>
        +7(982)717-97-20<br>
        +7(953)380-58-42</li>
      <li class="footer_link"><i class="fa fa-envelope-o"></i> 
        tzex@yandex.ru</li>
    </ul>
  </div>
  <div class="network">
    <h6 class="title">Соцсети</h6>
    <ul class="nospace_linklist">
      <!-- вот тут тоже, необходимо вставить значки вк, твиттера и телеги -->
      <li class="footer_link"><a class="footer_link_source" href="https://vk.com/magmacumlaude">Вконтакте</a></li>
      <li class="footer_link"><a class="footer_link_source" href="https://twitter.com/Ural_Federal">Twitter</a></li>
      <li class="footer_link"><a class="footer_link_source" href="t.me/MCL_IT">Telegram</a></li>
    </ul>
  </div>
  <div class="tec_support">
    <h6 class="title">Техподдержка</h6>
    <a class="group" href="mailto:magmacumlaude@yandex.ru">magmacumlaude@yandex.ru</a>
  </div>
  <div class="developers">
    <h6 class="title">Разработчики</h6>
    <ul class="nospace_linklist">
      <li>
        <article>
          <p class="nospace_font-x1"><a class="developers_link" href="#">magma cum laude</a></p>
          <p class="nospace">Алексеев Леонид,</p>
          <p class="nospace">Минеев Евгений,</p>
          <p class="nospace">Алимов Данил,</p>
          <p class="nospace">Назарова Анна,</p>
          <p class="nospace">Пономарев Семён</p>
        </article>
      </li>
    </ul>
  </div>
</footer>

<body></body>
</html>
