<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="media/styles/header.css">
<link rel="stylesheet" href="media/styles/common.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="media/styles/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
	<header class="header">
		<ul class="menu-top">
			<li class="menu-top_item">
				<a class="menu-top_link" href="#">Опросы</a>
			</li>
			<li class="menu-top_item">
				<a class="menu-top_link" href="#">Статистика</a>
			</li>
			<li class="menu-top_item">
				<a class="menu-top_link" href="#">Ваш вклад</a>
			</li>
			<li class="menu-top_user"><i class="fa fa-user" aria-hidden="true"></i>Пономарёв Семён Алексеевич</li></ul>
		</ul>

		<ul class="page-name">
			<p><h2 class="page-name_link">Название</h2></p>
		</ul>
	</header>
</body>
</html>