<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="media/styles/header.css">
<link rel="stylesheet" href="media/styles/style_for_all_pages.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
</head>
<header>
	<ul class="menu-top">
		<li class="surveys">
			<a href="#">Опросы</a>
		</li>
		<li class="statistics">
			<a href="#">Статистика</a>
		</li>
		<li class="contribution">
			<a href="#">Ваш вклад</a>
		</li>
	</ul>
</header>
<body>
	
</body>
</html>