<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="media/styles/sidebar.css">
<link rel="stylesheet" href="media/styles/common.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="media/styles/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<sidebar>
	<ul class="sidebar">
		<li class="subject">
			<a class="sidebar_link" href="#">Английский</a>
		</li>
		<li class="subject">
			<a class="sidebar_link" href="#">Дгм</a>
		</li>
		<li class="subject">
			<a class="sidebar_link" href="#">Матан</a>
		</li>
		<li class="subject">
			<a class="sidebar_link" href="#">Прога</a>
		</li>
		<li class="subject">
			<a class="sidebar_link" href="#">Инжа</a>
		</li>
		<li class="subject">
			<a class="sidebar_link" href="#">Физика</a>
		</li>
		</li>
		<li class="subject">
			<a class="sidebar_link" href="#">Философия</a>
		</li>
		<li class="subject">
			<a class="sidebar_link" href="#">Физ-ра</a>
		</li>
	</ul>
</sidebar>
<body></body>
</html>