<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="media/styles/surveys.css">
<link rel="stylesheet" href="media/styles/common.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/58d2b8d350.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="../command.js"></script>
</head>
<body>
	<header class="header">
		<ul class="menu-top">
			<li class="menu-top_item surveys">
				<a class="menu-top_link" href="surveys.html">Опросы</a>
			</li>
			<li class="menu-top_item">
				<a class="menu-top_link" href="statistic_Ch.html">Статистика</a>
			</li>
			<!--<li class="menu-top_item">
				<a class="menu-top_link" href="contribution.html">Ваш вклад</a>
			</li>-->
			<li id="phio" class="menu-top_user"><i class="fa fa-user" aria-hidden="true"></i>Пономарев Семён Алексеевич</li></ul>
		</ul>

		<ul class="page-name">
			<p><h2 class="page-name_link">Опросы</h2></p>
		</ul>
	</header>
	
	<ul class="app">
		<a href="survey_math.html"><li class="app_item">
			<img class="app_label" src="media/images/urfu.svg">
			<div class="app_link" href="">Математика</div>
		</li></a>
		<a href="survey_prog.html"><li class="app_item">
			<img class="app_label" src="media/images/urfu.svg">
			<div class="app_link">Программирование</div>
		</li></a>
		<a href="survey_vvs.html"><li class="app_item">
			<img class="app_label" src="media/images/urfu.svg">
			<div class="app_link">ВВС</div>
		</li></a>
		<a href="survey_proj.html"><li class="app_item">
			<img class="app_label" src="media/images/urfu.svg">
			<div class="app_link">Проектная деятельность</div>
		</li></a>
		<a href="survey_phys.html"><li class="app_item">
			<img class="app_label" src="media/images/urfu.svg">
			<div class="app_link">Физика</div>
		</li></a>
		<a href="survey_dgm.html"><li class="app_item">
			<img class="app_label" src="media/images/urfu.svg">
			<div class="app_link">ДГМ</div>
		</li></a>
		<a href="survey_phyl.html"><li class="app_item">
			<img class="app_label" src="media/images/urfu.svg">
			<div class="app_link">Философия</div>
		</li></a>
		<a href="survey_engl.html"><li class="app_item">
			<img class="app_label" src="media/images/urfu.svg">
			<div class="app_link">Английский</div>
		</li></a>
		<a href="survey_PI.html"><li class="app_item">
			<img class="app_label" src="media/images/urfu.svg">
			<div class="app_link">Физкультура</div>
		</li></a>
		<a href="survey_vvid.html"><li class="app_item">
			<img class="app_label" src="media/images/urfu.svg">
			<div class="app_link">ВвИД</div>
		</li></a>
		<a href="survey_terv.html"><li class="app_item">
			<img class="app_label" src="media/images/urfu.svg">
			<div class="app_link">Теория вероятностей</div>
		</li></a>
		<a href="survey_evm.html"><li class="app_item">
			<img class="app_label" src="media/images/urfu.svg">
			<div class="app_link">ЭВМ</div>
		</li></a>
	</ul>

	<!--<div>
		Вот здесь необходимо реализовать логику JS для открывающегося блока с изменением margin-bottom на 0 при открытии и на 120 при закрытии 
		<p id="open_fnct" style="margin-bottom: 120px" onclick="open()"><i class="fa fa-chevron-down" aria-hidden="true"></i>Пройденные опросы</p>
		<p id="clos_fnct"; style="display: none" onclick="close()">Скрыть</p>
	    <div id="open_case" style="display: none">
			<ul class="app">
				<a href="survey_math.html"><li class="app_item">
			<img class="app_label" src="media/images/urfu.svg">
			<div class="app_link" href="">Математика</div>
		</li></a>
		<a href="survey_prog.html"><li class="app_item">
			<img class="app_label" src="media/images/urfu.svg">
			<div class="app_link">Программирование</div>
		</li></a>
		<a href="survey_vvs.html"><li class="app_item">
			<img class="app_label" src="media/images/urfu.svg">
			<div class="app_link">ВВС</div>
		</li></a>
		<a href="survey_proj.html"><li class="app_item">
			<img class="app_label" src="media/images/urfu.svg">
			<div class="app_link">Проектная деятельность</div>
		</li></a>
		<a href="survey_phys.html"><li class="app_item">
			<img class="app_label" src="media/images/urfu.svg">
			<div class="app_link">Физика</div>
		</li></a>
		<a href="survey_dgm.html"><li class="app_item">
			<img class="app_label" src="media/images/urfu.svg">
			<div class="app_link">ДГМ</div>
		</li></a>
		<a href="survey_phyl.html"><li class="app_item">
			<img class="app_label" src="media/images/urfu.svg">
			<div class="app_link">Философия</div>
		</li></a>
		<a href="survey_engl.html"><li class="app_item">
			<img class="app_label" src="media/images/urfu.svg">
			<div class="app_link">Английский</div>
		</li></a>
		<a href="survey_PI.html"><li class="app_item">
			<img class="app_label" src="media/images/urfu.svg">
			<div class="app_link">Физкультура</div>
		</li></a>
		<a href="survey_vvid.html"><li class="app_item">
			<img class="app_label" src="media/images/urfu.svg">
			<div class="app_link">ВвИД</div>
		</li></a>
		<a href="survey_terv.html"><li class="app_item">
			<img class="app_label" src="media/images/urfu.svg">
			<div class="app_link">Теория вероятностей</div>
		</li></a>
		<a href="survey_evm.html"><li class="app_item">
			<img class="app_label" src="media/images/urfu.svg">
			<div class="app_link">ЭВМ</div>
		</li></a>
			</ul>
		</div>
	</div>-->

	<footer class="footer">
		<div class="contacts">
	    	<div class="contacts title">Контакты</div>
	    	<ul class="contacts_linklist nospace">
		    	<li class="contacts_link"><i class="fa fa-map-marker"></i>
		        	Мира 32, Екатеринбург, 
		        	<p><pre>    620002</pre></p>
		    	</li>
		    	<hr noshade size="1" class="contacts_hr">
		    	<li class="contacts_link"><i class="fa fa-phone"></i>
		    		<!-- вот тут и на адресе я уже заебалась, хз, как поставить их в одну ровную строчку. -->
			        +7(982)717-97-20<br> 
			       	<pre>     +7(953)380-58-42</pre>
			    </li>
			    <hr noshade size="1" class="contacts_hr">
		    	<li class="contacts_link"><i class="fa fa-envelope-o"></i> 
		        	tzex@yandex.ru
		        </li>
	    	</ul>
		</div>
		<div class="network">
		    <h6 class="network title">Соцсети</h6>
		    <ul class="network_linklist nospace">
		    	<li class="network_link"><i class="fa fa-vk" aria-hidden="true"></i><a class="network_link_source" href="https://vk.com/magmacumlaude">Вконтакте</a></li>
		    	<li class="contacts_link"><i class="fa fa-twitter" aria-hidden="true"></i><a class="network_link_source" href="https://twitter.com/Ural_Federal">Twitter</a></li>
		    	<li class="network_link"><i class="fa fa-telegram" aria-hidden="true"></i><a class="network_link_source" href="t.me/MCL_IT">Telegram</a></li>
		    </ul>
		</div>
	  	<div class="tec_support">
		    <h6 class="tec_support title">Техподдержка</h6>
		    <li>
		    	<i class="fa fa-wrench" aria-hidden="true"></i><a class="tec_support_group" href="mailto:magmacumlaude@yandex.ru">magmacumlaude@yandex.ru</a>
		    </li>
		</div>
		<div class="developers">
		    <h6 class="developers title">Разработчики</h6>
		    <ul class="developers_linklist nospace">
		      <li>
		        <article>
		        	<p class="nospace_font-x1"><a class="developers_link_mcl" href="#">magma cum laude</a></p>
		        	<p class="nospace">Алексеев Леонид,</p>
		        	<p class="nospace">Минеев Евгений,</p>
		        	<p class="nospace">Алимов Данил,</p>
		        	<p class="nospace">Назарова Анна,</p>
		        	<p class="nospace">Пономарев Семён</p>
		        </article>
		      </li>
		    </ul>
		</div>
	</footer>
</body>
</html>